* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

.l-main-header {
  min-height: 100vh;
  background-color: #333;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/hrz-5.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .l-main-header {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.l-title-group {
  max-width: 450px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
.l-title-group span {
  display: block;
}
@media (max-width: 900px) {
  .l-title-group {
    min-height: 100vh;
    justify-content: center;
    padding: 50px;
  }
}

.l-section-event-form {
  background-color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media (max-width: 900px) {
  .l-section-event-form {
    width: 100%;
  }
}

.l-form {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 10px;
}
.l-form__title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.l-form label {
  display: flex;
  flex-direction: column;
}
.l-form span {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.l-form input, .l-form select {
  font-size: 1.1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid #333;
  color: #333;
}
.l-form button {
  margin-top: 10px;
}

.l-section-details {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 100px 0px;
}
.l-section-details .content {
  max-width: 400px;
  gap: 20px;
}
@media (max-width: 900px) {
  .l-section-details .content {
    max-width: 80%;
  }
}
.l-section-details .image {
  width: 450px;
  height: 250px;
}
@media (max-width: 900px) {
  .l-section-details .image {
    width: 80%;
    height: auto;
    margin-top: 80px;
  }
}
.l-section-details .section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.l-section-details .section--reverse {
  flex-direction: row-reverse;
}
@media (max-width: 900px) {
  .l-section-details .section {
    flex-direction: column;
  }
}
.l-section-details .list {
  font-size: 1.3rem;
  margin-top: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

.l-section-subscribe {
  padding: 100px 30px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: #333;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/hrz-6.jpg");
  background-position: center;
  background-size: cover;
}
.l-section-subscribe .title {
  font-size: 2rem;
  font-weight: 500;
}

.l-footer {
  padding: 50px;
  text-align: center;
  color: rgb(133, 131, 131);
}
.l-footer .subtitle {
  margin: 20px 0px;
  font-weight: normal;
}

.c-title {
  font-size: 3rem;
  font-weight: bolder;
}

.c-subtitle {
  font-size: 1.8rem;
}

.c-intertitle {
  font-size: 1.3rem;
}

.c-button {
  color: white;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 0.5rem;
}

.c-section-cards .title {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 50px;
}
.c-section-cards .container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 80px 50px;
}
.c-section-cards .card {
  max-width: 250px;
  min-width: 200px;
}
.c-section-cards .card__image {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.c-section-cards .card__image--first {
  background-image: url("../images/sqr-1.jpg");
}
.c-section-cards .card__image--second {
  background-image: url("../images/sqr-2.jpg");
}
.c-section-cards .card__image--third {
  background-image: url("../images/sqr-3.jpg");
}
.c-section-cards .card__description {
  margin-top: 20px;
  text-align: center;
}

.c-section-location {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 20px;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #333;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/hrz-1.jpg");
  background-position: center;
  background-size: cover;
}
.c-section-location .content {
  max-width: 400px;
}
.c-section-location .content .description {
  margin-top: 20px;
  font-size: 1.2rem;
}
.c-section-location .adress {
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.c-section-location .adress__icon {
  width: 80px;
  height: 80px;
}
.c-section-location .adress__details {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  line-height: 2rem;
}
@media (max-width: 900px) {
  .c-section-location {
    flex-direction: column;
    gap: 80px;
    align-items: start;
    padding: 80px 50px;
  }
  .c-section-location .content {
    max-width: 500px;
  }
  .c-section-location .adress {
    flex-direction: row-reverse;
    max-width: 500px;
  }
  .c-section-location .adress__details {
    text-align: start;
  }
}

.c-subscribe-button {
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  letter-spacing: 1px;
  width: max-content;
}

.--uppercase {
  text-transform: uppercase !important;
}

.--color-emphasis {
  color: #ff007b !important;
}

.--button-emphasis {
  background-color: #ff007b !important;
}
.--button-emphasis:hover {
  background-color: #cc0062 !important;
}

.--weight-lighter {
  font-weight: lighter !important;
}

.--weight-bolder {
  font-weight: bolder !important;
}

/*# sourceMappingURL=main.css.map */
