
@use 'variables' as *;

.c-title {
    font-size: $font-size-title;
    font-weight: bolder;
}


.c-subtitle {
    font-size: $font-size-subtitle;
}


.c-intertitle {
    font-size: $font-size-intertitle;
}


.c-button {
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: .5rem;
}


.c-section-cards {

    .title {
        background-color: $primary-bgcolor;
        color: white;
        text-align: center;
        padding: 80px 50px;
    }

    .container-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px;
        padding: 80px 50px;
    }

    .card {
        max-width: $card-max-width;
        min-width: $card-min-width;

        &__image {
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: {
                position: center;
                size: cover;
            }

            &--first {
                background-image: url('../images/sqr-1.jpg');
            }

            &--second {
                background-image: url('../images/sqr-2.jpg');
            }

            &--third {
                background-image: url('../images/sqr-3.jpg');
            }
        }

        &__description {
            margin-top: 20px;
            text-align: center;
        }
    }
}


.c-section-location {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 20px;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    color: white;
    background: {
        color: $primary-bgcolor;
        image: linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('../images/hrz-1.jpg');
        position: center;
        size: cover;
    };

    .content {
        max-width: 400px;

        .description {
            margin-top: 20px;
            font-size: 1.2rem;
        }
    }

    .adress {
        max-width: 400px;
        display: flex;
        align-items: center;
        gap: 20px;

        &__icon {
            width: 80px;
            height: 80px;
        }

        &__details {
            font-size: 1.3rem;
            text-align: center;
            font-weight: 500;
            line-height: 2rem;
        }
    }

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 80px;
        align-items: start;
        padding: 80px 50px;

        .content {
            max-width: 500px;
        }

        .adress {
            flex-direction: row-reverse;
            max-width: 500px;
            &__details {
                text-align: start;
            }
        }
    }
}